@font-face {
  font-family: 'spleen';
  src: url('../fonts/spleen-16x32-webfont.woff2') format('woff2'),
       url('../fonts/spleen-16x32-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
